
install/
out/

host-tools
host-tools/

*~
*.swp
*.swo
*.bak
*.rej
.DS_Store

tags
.tags*
cscope.*
ncscope.*
.svim

__pycache__
.vscode

freertos/cvitek/task/.idea/
freertos/cvitek/task/cmake-build-debug/
